<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="p1" class="com.trial.beans.Product">
	<property name="name" value="Realme Note 3 Pro"/>
	<property name="category" value="Smartphone"/>
	<property name="id" value="1"/>
	<property name="status" value="0"/>
	
</bean>


</beans>
