<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="t" class="com.demo1.beans.Triangle">
<property name = "x" value = "0" />
<property name = "y" value = "0" />
</bean>

<bean id="t1" class="com.demo1.beans.Triangle">
<constructor-arg name="x" value="12"/>
<constructor-arg name="y" value="15"/>
</bean>

<bean id="t2" class="com.demo1.beans.Triangle1">
<property name="p1" ref = "p1" />
<property name="p2" ref = "p2" />
<property name="p3" ref = "p3" />

</bean>




<bean id="p1" class="com.demo1.beans.Point">
<property name = "x" value = "0" />
<property name = "y" value = "20" />
</bean>
<bean id="p2" class="com.demo1.beans.Point">
<property name = "x" value = "20" />
<property name = "y" value = "0" />
</bean>
<bean id="p3" class="com.demo1.beans.Point">
<property name = "x" value = "20" />
<property name = "y" value = "20" />
</bean>

</beans>